<!DOCTYPE html>
 <!--  Content (배너이미지) 부분 -->
  <div> <img src="/images/admin_banner.png" class="img-fluid" alt="배너이미지" width="100%"> </div>

  <!-- 컨텐츠(예, 쇼핑몰일경우 판매제품리스트)헤더부분 -->
   <div class="container-fluid" style="border: solid 20px white; border-radius: 1px">
     <div class="panel panel-default">
   	  <div class="panel-heading">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">쇼핑몰</li>
            <li class="breadcrumb-item">관리자</li>
            <li class="breadcrumb-item active" aria-current="page">사용자 관리</li>
          </ol>
        </nav>
   	  </div>

      <hr>
      <div class="container">
          <table class="table table-striped table-bordered table-hover" style="text-align: center;">
            <thead>
              <tr>
                <th> 아이디 </th>
                <th> 이름 </th>
                <th> 주소 </th>
                <th> 연락처 </th>
                <th> 보유 포인트 </th>
                <th> 수정여부</th>

              </tr>
            </thead>
            <tbody>
               <% userlist.forEach(function (user, index) { %>
              <tr>
                <td> <%= user.uid %> </td>
                <td> <%= user.name %> </td>
                <td> <%= user.address %> </td>
                <td> <%= user.phone %> </td>
                <td> <%= user.point %> </td>
                <td>
                    <form action="profile_update" method="post">
                      <div class="btn-group">
                        <input type="hidden" name="uid" value="<%= user.uid%>" /> <!-- 변수선언 해볼까? -->
                        <button type="submit" class="btn btn-outline-primary btn-sm">수정하기</button>
                    	</div>
                    </form>
                    <!-- <form class="" action="" method="">
                        <button type="submit" class="btn btn-outline-secondary btn-sm ">삭제하기</button>
                    </form> -->
                </td>
              </tr>
              <% }); %>
            </table>
          </div>

  <p>
  <nav aria-label="...">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
    </li>
      <li class="page-item active" aria-current="page">
      <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
    </li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
</nav>
